[Desktop Entry]
Type=Application
Name=WebClip Sync
GenericName=Clipboard Sync
Comment=Real-Time Gboard Clipboard Sync
Exec=webclip
Icon=webclip
Categories=Utility;
Keywords=clipboard;sync;gboard;webclip;
Terminal=false
StartupNotify=true
StartupWMClass=webclip
